* {
  padding: 0;
  margin: 0;
}

.grey {
  background-color: grey;
}

.disable {
  pointer-events: none;
}

#content {
  height: 100vh;
  overflow: auto;
  display: grid;
  grid-template-rows: 100px 1fr 50px;
  background-color: black;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
}

section {
  display: grid;
  grid-template-rows: 150px 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;

  background-color: aqua;
}

#name-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#name-entry button {
  padding: 5px 30px;
}

#input-error {
  display: flex;
  flex-direction: column;
}

#boards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  justify-items: center;
}

#ships {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.players-boards {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid black;
}

.field {
  border: 1px solid black;
  width: 40px;
  height: 40px;
}
